<%= message.user.username %>: <%= message.body %><br>

<% if message.image.attached? %>
  <p>
    <%= image_tag url_for(message.image), width: "250" %>
  </p>
<% end %>

<small><%= formatted_timestamp(message.created_at) %></small>

<br><br>