<h5>Recent activity</h5>
<% if @messages.any? %>
  <div id="recent_activity_list">
    <% @messages.each do |message| %>
      <%= render partial: "rooms/recent_activity", locals: { message: message } %>
    <% end %>
  </div>
<% else %>
  <p class="text-danger mt-3">No recent activity!</p>
<% end %>
