<div id="participants">

<%= pluralize(room.participants.uniq.count, "participant") %>

<ul>
	<li><%= "#{room.user.username} - host" %></li>
	<% unless room.participants.empty? %>
		<% (room.participants.uniq - [room.user]).each do |participant| %>

			<li><%= participant.username %></li>

		<% end %>
	<% end %>

</ul>

</div>